<div class="table-and-detail">

  <div class="table-main">
    <h3 class="table-title">
      Employee List
    </h3>

    <button [disabled]="!selectedEmployee" (click)="onClickEdit()" class="edit-button">
      Edit Employee
    </button>

    <ngx-datatable
      class="material"
      [rows]="employees"
      [columns]="[{name:'ID'},{name:'Name'},{name:'Company'}]"
      [columnMode]="'standard'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="40"
      [limit]="8"
      [selectionType]="'single'"
      (select)='onSelect($event.selected)'>
    </ngx-datatable>
  </div>

  <app-detail class="detail" *ngIf="selectedEmployee" [employee]="selectedEmployee"></app-detail>

</div>
