@import '/node_modules/@swimlane/ngx-datatable/release/index.css';
@import '/node_modules/@swimlane/ngx-datatable/release/themes/material.css';
@import '/node_modules/@swimlane/ngx-datatable/release/assets/icons.css';

.table-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 40px;
}

.table-title {
  margin-bottom: 20px;
}

.edit-button {
  margin-bottom: 20px;
}

.table-and-detail {
  display: flex;
  flex-direction: row;
  align-items: flex-start
}

.detail {
  margin-top: 90px;
}
