<div class="form-group" [class.has-error]="isInvalid()">

  <label id="{{id + '-input-label'}}"
         for="{{id}}">{{label + (isRequired ? "&nbsp;*" : "")}}
  </label>

  <input id="{{id}}"
         class="form-control"
         maxlength="{{maxlength}}"
         [disabled]="isDisabled"
         (blur)="onBlur()"
         [(ngModel)]="value"
         [attr.placeholder]="inputPlaceholder">

  <p *ngIf="isInvalid()">{{errorMsg}}</p>
</div>


