<div class="detail-main">
  <form class="form" [formGroup]="employeeForm" (ngSubmit)="onSubmit()">

    <!--https://github.com/angular/angular/issues/14057-->

    <app-input name="name"
               [formControl]="employeeForm.controls['name']"
               [inputPlaceholder]="'Max Mustermann'"
               [errorMsg]="'Plese give a name'">
    </app-input>

    <!--https://stackoverflow.com/questions/43256428/angular2-get-existing-validators-of-a-formcontrol-->

    <app-input [maxlength]="2" name="id"
               [formControl]="employeeForm.controls['id']"
               [errorMsg]="employeeForm.get('id').hasError('required') ? 'Id must be filled ' : 'Id must have min. 2 characters' ">
    </app-input>

    <app-input [formControl]="employeeForm.controls['company']" name="company">
    </app-input>

    <button type="submit" [disabled]="inline || employeeForm.invalid">Save</button>
    <button (click)="goBack()" [disabled]="inline">Go back</button>
  </form>

  <app-input name="attrWithoutForm"
             [maxlength]="100"
             [(ngModel)]="attrWithoutForm">
  </app-input>
</div>
